/* Footer.css */
.footer {
    width: 87%;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    padding: 20px 0;
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .icon-image {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  